Group3TrngDataFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Group3TrngDataFactory"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"ls_synapsedw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_synapsedw'"
		},
		"lsadlsgroup3_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'lsadlsgroup3'"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1216-104932-t72chzlz"
		},
		"lsadlsgroup3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://group3adlsstorage.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_To_Silver_Order')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Order",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_DATETIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORDER_DATETIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ORDER_STATUS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "STORE_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STORE_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OrderTotal",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrderTotal",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OrderDiscount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrderDiscount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OrderFinalAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrderFinalAmount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PaymentMode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PaymentMode",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Order",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Order_Silver",
								"type": "DatasetReference",
								"parameters": {
									"loaddate": {
										"value": "@pipeline().parameters.LoadDate",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Order silver to gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Order",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Group3Assignment/Order_SilverToGold",
							"baseParameters": {
								"loaddate": {
									"value": "@pipeline().parameters.LoadDate",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Order gold to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Order silver to gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat('gold/Orders_',pipeline().parameters.LoadDate)",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dbo].[Order]",
								"writeBehavior": "Insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ORDER_ID",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_DATETIME",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_DATETIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CUSTOMERID",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORDER_STATUS",
											"type": "String"
										},
										"sink": {
											"name": "ORDER_STATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "STOREID",
											"type": "String"
										},
										"sink": {
											"name": "STORE_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrderTotal",
											"type": "String"
										},
										"sink": {
											"name": "OrderTotal",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrderDiscount",
											"type": "String"
										},
										"sink": {
											"name": "OrderDiscount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "OrderFinalAmount",
											"type": "String"
										},
										"sink": {
											"name": "OrderFinalAmount",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PaymentMode",
											"type": "String"
										},
										"sink": {
											"name": "PaymentMode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LoadDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LoadDate",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Order_Gold",
								"type": "DatasetReference",
								"parameters": {
									"loaddate": {
										"value": "@pipeline().parameters.LoadDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_order_dw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"LoadDate": {
						"type": "string"
					}
				},
				"variables": {
					"LoadDate": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-16T14:21:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Order')]",
				"[concat(variables('factoryId'), '/datasets/DS_Order_Silver')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]",
				"[concat(variables('factoryId'), '/datasets/DS_Order_Gold')]",
				"[concat(variables('factoryId'), '/datasets/ds_order_dw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_To_Silver_Product')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Prouduct",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PRODUCT_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PRODUCT_NAME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ProductCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCategory",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Product",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Product_Silver",
								"type": "DatasetReference",
								"parameters": {
									"loaddate": {
										"value": "@pipeline().parameters.LoadDate",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Product silver to gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Prouduct",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Group3Assignment/Product_SilverToGold",
							"baseParameters": {
								"loaddate": {
									"value": "@pipeline().parameters.LoadDate",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Product Gold to DW",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Product silver to gold",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@concat('gold/Product_',pipeline().parameters.LoadDate)",
										"type": "Expression"
									},
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "truncate table [dbo].[Product]",
								"writeBehavior": "Insert",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PRODUCTID",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_ID",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRODUCTNAME",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_NAME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "UNIT_PRICE",
											"type": "String"
										},
										"sink": {
											"name": "UNIT_PRICE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ProductCategory",
											"type": "String"
										},
										"sink": {
											"name": "ProductCategory",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LoadDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "LoadDate",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Product_Gold",
								"type": "DatasetReference",
								"parameters": {
									"loaddate": {
										"value": "@pipeline().parameters.LoadDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_product_dw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"LoadDate": {
						"type": "string"
					}
				},
				"variables": {
					"LoadDate": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-16T14:21:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Product')]",
				"[concat(variables('factoryId'), '/datasets/DS_Product_Silver')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]",
				"[concat(variables('factoryId'), '/datasets/DS_Product_Gold')]",
				"[concat(variables('factoryId'), '/datasets/ds_product_dw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Customers_Order_Master_PL_Adv_Gen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute Bronze to Silver Product PL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Validate Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Bronze_To_Silver_Product",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"LoadDate": {
									"value": "@variables('LoadDate')",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Validate Files",
						"type": "Validation",
						"dependsOn": [
							{
								"activity": "Set Load Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Training",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.12:00:00",
							"sleep": 10
						}
					},
					{
						"name": "Set Load Date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LoadDate",
							"value": {
								"value": "@string(utcNow())",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Execute Failed Log",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Bronze to Silver Product PL",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Execute Bronze to Silver Order PL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LogError_MasterPL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipeLineName": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"FactoryName": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"ErrorDetail": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Execute Bronze to Silver Order PL",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Validate Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Bronze_To_Silver_Order",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"LoadDate": {
									"value": "@variables('LoadDate')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"LoadDate": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-16T14:18:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Bronze_To_Silver_Product')]",
				"[concat(variables('factoryId'), '/datasets/DS_Training')]",
				"[concat(variables('factoryId'), '/pipelines/LogError_MasterPL')]",
				"[concat(variables('factoryId'), '/pipelines/Bronze_To_Silver_Order')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LogError_MasterPL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Log Error Master PL",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Shared_LogError",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PipeLineName": {
									"value": "@pipeline().parameters.PipeLineName",
									"type": "Expression"
								},
								"FactoryName": {
									"value": "@pipeline().parameters.FactoryName",
									"type": "Expression"
								},
								"ErrorDetail": {
									"value": "@pipeline().parameters.ErrorDetail",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipeLineName": {
						"type": "string"
					},
					"FactoryName": {
						"type": "string"
					},
					"ErrorDetail": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-16T14:18:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Shared_LogError')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Shared_LogError')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Log Erorr",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Group3Assignment/Shared_LogError",
							"baseParameters": {
								"PipeLineName": {
									"value": "@pipeline().parameters.PipeLineName",
									"type": "Expression"
								},
								"FactoryName": {
									"value": "@pipeline().parameters.FactoryName",
									"type": "Expression"
								},
								"ErrorDetail": {
									"value": "@pipeline().parameters.ErrorDetail",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"PipeLineName": {
						"type": "string"
					},
					"FactoryName": {
						"type": "string"
					},
					"ErrorDetail": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-16T14:18:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Order')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgroup3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "orders.csv",
						"folderPath": "bronze/2022/12/16",
						"fileSystem": "training"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgroup3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Order_Gold')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgroup3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"loaddate": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('gold/Orders_',dataset().loaddate)",
							"type": "Expression"
						},
						"fileSystem": "training"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgroup3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Order_Silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgroup3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"loaddate": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('orders_',dataset().loaddate,'.csv')",
							"type": "Expression"
						},
						"folderPath": "silver",
						"fileSystem": "training"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgroup3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Product')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgroup3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "products.csv",
						"folderPath": "bronze/2022/12/16",
						"fileSystem": "training"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgroup3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Product_Gold')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgroup3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"loaddate": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('gold/Product_',dataset().loaddate)",
							"type": "Expression"
						},
						"fileSystem": "training"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgroup3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Product_Silver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgroup3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"loaddate": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat('Product_',dataset().loaddate,'.csv')",
							"type": "Expression"
						},
						"folderPath": "silver",
						"fileSystem": "training"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgroup3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Training')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lsadlsgroup3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bronze/2022/12/16",
						"fileSystem": "training"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lsadlsgroup3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_order_dw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_synapsedw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Order"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_synapsedw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_product_dw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_synapsedw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_synapsedw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-8809455446008572.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_synapsedw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('ls_synapsedw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lsadlsgroup3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('lsadlsgroup3_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('lsadlsgroup3_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}